@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'GmarketSansMedium';
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

/*헤더*/
.welcome{
	display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 10px;
}
nav {
    display: flex;
    border-bottom: 1px solid gray;
    border-width: 100%;
    font-weight: 700;
    background-color: white;
}

.nav1 {
    width: 30%;
    margin-left: 5%;
    display: flex;
}

.nav2 {
    width: 30%;
    margin-right: 5%;
    display: flex;
}

ul {
    margin: auto;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    display: flex;
}
	
/*메인*/
main{
	margin: 0 auto;
}

h1{
	text-align: center;
	margin: 50px 0 10px;
}

h4{
	text-align: center;
	margin-bottom: 50px;
	color: gray;
	font-weight: 100;
}
/*푸터*/
footer {
    padding:15px;
    font-size: small;
}

footer div {
    display: flex;
    justify-content: center;
    color: lightgray;
}