@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'GmarketSansMedium';
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

/*헤더*/
.welcome{
	display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 10px;
}
nav {
    display: flex;
    border-bottom: 1px solid gray;
    font-weight: 700;
}

.nav1 {
    width: 30%;
    margin-left: 5%;
    display: flex;
}

.nav2 {
    width: 30%;
    margin-right: 5%;
    display: flex;
}

ul {
    margin: auto;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    display: flex;
}

/*메인*/
.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider{
	border-bottom: 1px solid gray;
}

section{
	width: 1200px;
}


#whatsnew {
    margin: 70px;
    border-bottom: 3px solid pink;
    width: 16rem;
}

#bearmoonsns {
    margin: 70px;
    border-bottom: 3px solid pink;
    width: 19rem;
}

span {
    color: gray;
    font-weight: 400;
}

.newimg {
    display: flex;
}

.newimg1, .newimg2, .newimg3, .newimg4{
	position: relative;
}

#info1,
#info2,
#info3,
#info4 {
    position: absolute;
    opacity: 0;
    transition: ease-in-out;
}

.newimg1:hover #info1 {
    width: 300px;
    height: 300px;
    background-color: rgba(65, 64, 64, 0.5);
    color: white;
    font-size: larger;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.35s ease-in-out;
    overflow:hidden;
}

.newimg2:hover #info2 {
    width: 300px;
    height: 300px;
    background-color: rgba(65, 64, 64, 0.5);
    color: white;
    font-size: larger;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.35s ease-in-out;
    overflow:hidden;
}

.newimg3:hover #info3 {
    width: 300px;
    height: 300px;
    background-color: rgba(65, 64, 64, 0.5);
    color: white;
    font-size: larger;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.35s ease-in-out;
    overflow:hidden;
}

.newimg4:hover #info4 {
    width: 300px;
    height: 300px;
    background-color: rgba(65, 64, 64, 0.5);
    color: white;
    font-size: larger;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.35s ease-in-out;
    overflow:hidden;
}

.seemoremenu input{
	border: 2px solid pink;
	border-radius: 30px;
	padding: 15px 20px;
	background-color: white;
	display: flex;
	margin: 50px auto 100px;
}

.seemoremenu input:hover{
	cursor: pointer;
}

.snsimg {
    display: flex;
    justify-content: space-evenly;
    width: 70px;
    height: 70px;
    margin: 150px auto;
}

/*푸터*/
footer {
    padding:15px;
    font-size: small;
}

footer div {
    display: flex;
    justify-content: center;
    color: lightgray;
}