@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
    color: rgb(245, 113, 135);
    font-family: 'GmarketSansMedium';
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

/*헤더*/
.welcome{
	display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 10px;
    color: black;
}

nav {
    display: flex;
    border-bottom: 1px solid gray;
    font-weight: 700;
}

.nav1 {
    width: 30%;
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
}

.nav2 {
    width: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

.logo{
	background-color: white;
}

ul {
    margin: auto;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    display: flex;
}

/*메인*/
main{
	display: flex;
	background-color: rgb(246, 230, 240);
	border-bottom: 1px solid gray;
}

.con1 {
	margin: 0;
}

.con1 img{
	height: 100%;
}

.con2{
	margin: auto;
}

h1 {
    margin-bottom: 100px;
    text-align: center;
}

.form {
    margin: 50px 0;
    padding: 10px 0;
    text-align: center;
}

input {
    width: 400px;
    margin: 20px;
    padding: 10px 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.idbtncheck{
	width: 100px;
	padding: 10px;
	background-color: rgb(251, 150, 167);
	color: white;
    border: 1px solid pink;
    border-radius: 20px;
}

.idbtncheck:hover {
	cursor: pointer;
}

.btn1 {
	margin-top: 80px;
    padding: 15px 30px;
    width: 150px;
    background-color: rgb(251, 150, 167);
    border: 1px solid pink;
    border-radius: 30px;
    color: white;
}

.btn2 {
    margin-top: 80px;
    padding: 15px 30px;
    width: 150px;
   	background-color: lightgray;
    border-radius: 30px;
    color: white;
}

.btn1:hover {
    cursor: pointer;
}

.btn2:hover {
    cursor: pointer;
}

/*푸터*/
footer {
    padding: 15px;
    font-size: small;
}

footer div {
    display: flex;
    justify-content: center;
    color: lightgray;
}