@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'GmarketSansMedium';
    background-color: rgb(246, 230, 240);
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

main {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

/*헤더*/
.welcome{
	display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 10px;
}

.donut1,
.donut2 {
	margin: 0;
}

nav {
    display: flex;
    border-bottom: 1px solid gray;
    font-weight: 700;
    background-color: white;
}

.nav1 {
    width: 30%;
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.nav2 {
    width: 30%;
    margin-right: 5%;
    display: flex;
    background-color: white;
}

.logo{
	background-color: white;
}

ul {
    margin: auto;
    background-color: white;
}

li {
    display: inline-block;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px 20px;
}

.nav1 a, .nav2 a, .logo a {
	background-color: white;
}

/*메인*/
main{
	border-bottom: 1px solid gray;
}

h1 {
    text-align: center;
    width: 3em;
    margin-bottom: 30px;
    color: rgb(245, 113, 135);
}

.input {
    margin: 50px 0;
}

#id,
#pw {
    display: flex;
    width: 300px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid rgb(183, 182, 182);
    background-color: white;
}

.find {
    margin-top: 30px;
    text-align: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#btn1 {
    border: 1px solid pink;
    border-radius: 2em;
    padding: 15px 30px;
    width: 200px;
    background-color: pink;
    margin: 10px;
}

#btn2 {
    border: 1px solid lightgray;
    border-radius: 2rem;
    padding: 15px 30px;
    width: 200px;
    background-color: lightgray;
    margin: 10px;
}

#btn1:hover {
    cursor: pointer;
}

#btn2:hover {
    cursor: pointer;
}

/*푸터*/
footer {
    padding: 15px;
    font-size: small;
    background-color: white;
}

footer div {
    display: flex;
    justify-content: center;
    color: lightgray;
    background-color: white;
}

footer a{
	background-color: white;
}